{% extends 'base.html' %}
{% load thumbnail %}
			{% block body %}
			<div role="main" class="main">

				<section class="page-header">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<ul class="breadcrumb">
									<li><a href="#">Home</a></li>
									<li class="active">Portfolio</li>
								</ul>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<h1>4 Columns</h1>
							</div>
						</div>
					</div>
				</section>

				<div class="container">

					<h2>Portfolio</h2>

					<ul class="nav nav-pills sort-source" data-sort-id="portfolio" data-option-key="filter">
						<li data-option-value="*" class="active"><a href="#">Show All</a></li>
						<li data-option-value=".laundry"><a href="#">Laundry</a></li>

					</ul>

					<hr>

					<div class="row">

						<ul class="portfolio-list sort-destination" data-sort-id="portfolio">

							{% for product in products %}
								{% if product.category.slug == "laundry" %}
								<li class="col-md-3 col-sm-6 col-xs-12 isotope-item laundry">
									<div class="portfolio-item">
										<a href="/product_detail/{{ product.slug }}">
											<span class="thumb-info">
												<span class="thumb-info-wrapper">
													{% thumbnail product.image "230x230" crop="80% center" as im %}
											    		<img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class="img-responsive">
													{% endthumbnail %}
													<span class="thumb-info-title">
														<span class="thumb-info-inner">{{ product.name }}</span>
														<span class="thumb-info-type">{{ product.name }}</span>
													</span>
													<span class="thumb-info-action">
														<span class="thumb-info-action-icon"><i class="fa fa-link"></i></span>
													</span>
												</span>
											</span>
										</a>
									</div>
								</li>
								{% else %}
								<li class="col-md-3 col-sm-6 col-xs-12 isotope-item laundry">
									<div class="portfolio-item">
										<img src="{{ product.image.url }}" class="img-responsive">
									<div>				
								</li>

								{% endif %}
							{% endfor %}
						</ul>
					</div>

				</div>

			</div>
{% endblock %}